In [75]:
import numpy as np
import pandas as pd
import cobra.test
import os

from os.path import join

from time import time


from cobra.flux_analysis import (
    single_gene_deletion, single_reaction_deletion, double_gene_deletion,
    double_reaction_deletion)

a = cobra.io.read_sbml_model("iEC1344_C.xml")

In [77]:
df= pd.read_csv('one_gene_names column name changed.csv')
b= df.iloc[:, 1]
df1= pd.read_csv('monotonically_increasing_only_reactions_gene_names lactose column name changed.csv')
c= df1.iloc[:, 1]

data = [df, df1]
dfnew = pd.concat(data)

l= list(dfnew["Gene names"])
l

l1=[]
l2=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        l2.append(i)

l2

['PhoE',
 'OmpC',
 'OmpF',
 'OmpN',
 'S0001',
 'PtsH',
 'NagE',
 'Crr',
 'PtsG',
 'PtsI',
 'IlvN',
 'IlvI',
 'IlvH',
 'IlvB',
 'ManY',
 'ManZ',
 'ManX',
 'FrmA',
 'NupC',
 'NupG',
 'TrpD',
 'TrpE',
 'GlpE',
 'PspE',
 'HisG',
 'BisC',
 'PheA',
 'TyrA',
 'AroC',
 'MenF',
 'EntC',
 'HemF',
 'HemN',
 'LysA',
 'DapF',
 'CusA',
 'CusF',
 'CusC',
 'CusB',
 'AroG',
 'AroF',
 'AroH',
 'IlvD',
 'DapB',
 'AroD',
 'DapA',
 'AroB',
 'FadJ',
 'FadB',
 'UhpT',
 'FadK',
 'FadD',
 'DctA',
 'Agp',
 'AphA',
 'GalK',
 'WcaK',
 'GalM',
 'Tsx',
 'GudP',
 'GarP',
 'HisF',
 'HisH',
 'HisB',
 'TrpC',
 'AtoE',
 'HisD',
 'AroP',
 'LeuB',
 'LeuA',
 'HisC',
 'IlvC',
 'YjdL',
 'DtpA',
 'DtpB',
 'DtpD',
 'TyrB',
 'IlvE',
 'MetK',
 'GlpQ',
 'MetN',
 'MetI',
 'MetQ',
 'MtlA',
 'PgpB',
 'HisI',
 'HisA',
 'PheP',
 'YddG',
 'AroA',
 'YdiB',
 'AraB',
 'AlsC',
 'AlsB',
 'AlsA',
 'SrlB',
 'SrlA',
 'SrlE',
 'DapE',
 'DcuB',
 'FumB',
 'DmlA',
 'AroE',
 'AroK',
 'AroL',
 'ShiA',
 'CysU',
 'CysA',
 'CysP',
 'CysW',
 'DapD',
 'TyrP',
 'GalT',
 'PanF',
 'HemB',
 'HcaF',
 'HcaD',
 'HcaE',
 'HcaC',
 'MhpB']

In [78]:
df= pd.read_csv('one_gene_names column name changed.csv')
b= df.iloc[:, 1]
df2= pd.read_csv('monotonically_decreasing_only_reactions_gene_names lactose column name changed.csv')
d= df2.iloc[:, 1]

data = [df, df2]
dfnew = pd.concat(data)

l= list(dfnew["Gene names"])
l

l1=[]
l2=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        l2.append(i)

l2

['FabA',
 'FabZ',
 'Aas',
 'AcpP',
 'FabG',
 'FabB',
 'FabF',
 'FadE',
 'SpeD',
 'NudF',
 'NudE',
 'PhoE',
 'OmpC',
 'OmpF',
 'OmpN',
 'DkgB',
 'DkgA',
 'GldA',
 'RfaD',
 'S0001',
 'PepB',
 'PepA',
 'PepN',
 'PepD',
 'ApaH',
 'LysU',
 'DppF',
 'DppB',
 'DppD',
 'DppA',
 'DppC',
 'CadB',
 'ExbD',
 'ExbB',
 'TonB',
 'EntA',
 'RhmA',
 'PreA',
 'FadK',
 'FadD',
 'FepG',
 'FepC',
 'FepD',
 'FepB',
 'KdgT',
 'GntP',
 'EntB',
 'IlvE',
 'LeuC',
 'LeuD',
 'AldA',
 'LdcC',
 'CadA',
 'MrcB',
 'MrcA',
 'FtsI',
 'MrdA',
 'DacC',
 'DacB',
 'DacD',
 'DacA',
 'PbpG',
 'MepA',
 'UgpQ',
 'GlpQ',
 'Deleted',
 'MltC',
 'EmtA',
 'MltB',
 'Slt',
 'MltA',
 'TrxA',
 'TrxC',
 'BisC',
 'MsrA',
 'MsrB',
 'PbpC',
 'MurJ',
 'GrxB',
 'Mtn',
 'AphA',
 'UshA',
 'CpdB',
 'MsbA',
 'YbhA',
 'PgpB',
 'AspC',
 'TyrB',
 'AraB',
 'PatA',
 'PdxK',
 'SpeE',
 'ArgD',
 'IspB',
 'RffC',
 'RffA',
 'RfbC',
 'RfbD',
 'RfbB',
 'RffG',
 'GalE',
 'TreA']

In [58]:
df= pd.read_csv('one_gene_names 2.csv')
df2= pd.read_csv('monotonically_increasing_only_reactions_gene_names lactose 2.csv')

df_only_rows_with_index_in_df2 = df[df.index.isin(df2.index)]
df_only_rows_with_index_in_df2

   Unnamed: 0 Gene names
0           0       LamB
1           1       PhoE
2           2       OmpC
3           3       OmpF
4           4       CpdB

In [66]:
data = [df, df2]
dfnew = pd.concat(data)
dfnew

duplicateRows = dfnew[dfnew.duplicated()]
duplicateRows

Empty DataFrame
Columns: [Unnamed: 0, Gene names]
Index: []

In [70]:
l= list(dfnew["Gene names"])
l

l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

PhoE OmpC OmpF

In [72]:
l= list(dfnew["Gene names"])
l

l1=[]
l2=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        l2.append(i)

l2

['PhoE', 'OmpC', 'OmpF']

In [ ]:


df_bigdata_duplicates = df_bigdata[df_bigdata.duplicated(cols='ID')]

In [43]:
df= pd.read_csv('one_gene_names.csv')
b= df.iloc[:, 1]
df1= pd.read_csv('monotonically_decreasing_only_reactions_gene_names lactose.csv')
c= df1.iloc[:, 1]
df2= pd.read_csv('monotonically_increasing_only_reactions_gene_names lactose.csv')
d= df1.iloc[:, 1]

union = pd.Series(np.union1d(c, b))
intersect = pd.Series(np.intersect1d(c, b))

union = pd.Series(np.union1d(d, b))
intersect2 = pd.Series(np.intersect1d(d, b))

d1= pd.DataFrame(intersect, columns=['Gene names'])
d1.to_csv("one feasible value genes in original that become decreasing only in lactose")
d2= pd.DataFrame(intersect2, columns=['Gene names'])
d2.to_csv("one feasible value genes in original that become increasing only in lactose")

In [24]:
df= pd.read_csv('one_gene_names.csv')
b= df.iloc[:, 1]
df1= pd.read_csv('monotonically_decreasing_only_reactions_gene_names lactose.csv')
c= df1.iloc[:, 1]

D= df.copy()
D. rename(columns = {'Gene names for reactions with one feasible value':'Gene names'}, inplace = True)
D

D1= df1.copy()
D1. rename(columns = {'Gene names for decreasing only reactions':'Gene names'}, inplace = True)
D1

x= pd.concat([D,D1]).drop_duplicates(keep=False)

Dfinal= pd.DataFrame(x, columns=['Gene names'])
Dfinal.to_csv("3 one feasible value genes in original that become decreasing only in lactose")

In [9]:
df= pd.read_csv('one_gene_names.csv')
b= df.iloc[:, 1]
df1= pd.read_csv('monotonically_decreasing_only_reactions_gene_names lactose.csv')
c= df1.iloc[:, 1]
df2= pd.read_csv('monotonically_increasing_only_reactions_gene_names lactose.csv')
d= df1.iloc[:, 1]

x= pd.Series(list(set(b).intersection(set(c))))
y = pd.Series(list(set(b).intersection(set(d))))

d1= pd.DataFrame(x, columns=['Gene names'])
d1.to_csv("2 one feasible value genes in original that become decreasing only in lactose")
d2= pd.DataFrame(y, columns=['Gene names'])
d2.to_csv("2 one feasible value genes in original that become increasing only in lactose")

In [32]:
common = D.merge(D1)
common

Empty DataFrame
Columns: [Unnamed: 0, Gene names]
Index: []

In [27]:
df= pd.read_csv('one_gene_names.csv')
b= df.iloc[:, 1]
df1= pd.read_csv('monotonically_decreasing_only_reactions_gene_names lactose.csv')
c= df1.iloc[:, 1]

D= df.copy()
D. rename(columns = {'Gene names for reactions with one feasible value':'Gene names'}, inplace = True)
D

D1= df1.copy()
D1. rename(columns = {'Gene names for decreasing only reactions':'Gene names'}, inplace = True)
D1

DNEW=pd.merge(D,D1, how='inner')
DNEW

Empty DataFrame
Columns: [Unnamed: 0, Gene names]
Index: []

In [31]:
D[D['Gene names'] == D1['Gene names']]

ValueError: Can only compare identically-labeled Series objects

In [23]:
pd.concat([D,D1]).drop_duplicates(keep=False)

     Unnamed: 0 Gene names
0             0       LamB
1             1       PhoE
2             2       OmpC
3             3       OmpF
4             4       OmpN
..          ...        ...
279         279       SpoT
280         280       DeoB
281         281       FldB
282         282       FldA
283         283        Fpr

[884 rows x 2 columns]

In [40]:
df= pd.read_csv('one_gene_names.csv')
b= df.iloc[:, 1]
df1= pd.read_csv('monotonically_decreasing_only_reactions_gene_names lactose.csv')
c= df1.iloc[:, 1]

D= df.copy()
D. rename(columns = {'Gene names for reactions with one feasible value':'Gene names'}, inplace = True)
D

D1= df1.copy()
D1. rename(columns = {'Gene names for decreasing only reactions':'Gene names'}, inplace = True)
D1

D2=pd.merge(D, D1)
D2

Empty DataFrame
Columns: [Unnamed: 0, Gene names]
Index: []